:root {
	--font-family-sans: "BDO Grotesk Regular", "BDO Grotesk Regular Placeholder", sans-serif;
	--font-family-bold: "BDO Grotesk DemiBold", "BDO Grotesk DemiBold Placeholder", sans-serif;

	--font-size-h1: 2.725rem;
	--font-size-h2: 2rem; /* ~32px */
	--font-size-h3: 1.75rem; /* ~28px */
	--font-size-h4: 1.5rem; /* ~24px */
	--font-size-h5: 1.25rem; /* ~20px */
	--font-size-h6: 1rem; /* ~16px */
	--font-size-body: 1rem;
	--font-size-small: 0.875rem;

	--line-height: 1.4;
	--letter-spacing-title: -0.015em;
	--letter-spacing-body: 0;

	--black: #000;
	--black-value: 0, 0, 0;
	--white: #fff;
	--grey: #f9f9f9;
}
